archivessnake==0.10.1
    # via -r requirements.in
asgiref==3.11.1
    # via django
asterism==1.1.0
    # via -r requirements.in
attrs==26.1.0
    # via archivessnake
bagit==1.9.0
    # via asterism
boltons==25.0.0
    # via archivessnake
certifi==2026.5.20
    # via requests
charset-normalizer==3.4.7
    # via requests
django==4.2.30
    # via
    #   -r requirements.in
    #   asterism
    #   django-cors-headers
    #   django-js-asset
    #   djangorestframework
django-cors-headers==3.14.0
    # via -r requirements.in
django-js-asset==3.1.2
    # via django-mptt
django-mptt==0.18.0
    # via -r requirements.in
djangorestframework==3.17.1
    # via
    #   -r requirements.in
    #   asterism
idna==3.17
    # via
    #   requests
    #   yarl
more-itertools==11.1.0
    # via archivessnake
multidict==6.7.1
    # via yarl
propcache==0.5.2
    # via yarl
psycopg2==2.9.12
    # via -r requirements.in
pyyaml==6.0.3
    # via
    #   archivessnake
    #   vcrpy
rapidfuzz==3.14.5
    # via archivessnake
requests==2.34.2
    # via archivessnake
sqlparse==0.5.5
    # via django
structlog==25.5.0
    # via archivessnake
uritemplate==4.2.0
    # via -r requirements.in
urllib3==2.7.0
    # via
    #   requests
    #   vcrpy
vcrpy==7.0.0
    # via -r requirements.in
wrapt==2.2.1
    # via vcrpy
yarl==1.24.2
    # via vcrpy
