archivessnake==0.10.1
    # via -r requirements.in
asgiref==3.12.1
    # via
    #   django
    #   django-cors-headers
attrs==26.1.0
    # via archivessnake
boltons==26.1.0
    # via archivessnake
certifi==2026.7.22
    # via requests
charset-normalizer==3.5.1
    # via requests
django==4.2.30
    # via
    #   -r requirements.in
    #   django-cors-headers
    #   django-js-asset
    #   djangorestframework
django-cors-headers==4.9.0
    # via -r requirements.in
django-js-asset==4.1.0
    # via django-mptt
django-mptt==0.18.0
    # via -r requirements.in
djangorestframework==3.17.2
    # via -r requirements.in
idna==3.19
    # via requests
more-itertools==11.1.0
    # via archivessnake
psycopg2==2.9.12
    # via -r requirements.in
pyyaml==6.0.3
    # via
    #   archivessnake
    #   vcrpy
rapidfuzz==3.14.5
    # via archivessnake
requests==2.34.2
    # via archivessnake
sqlparse==0.6.0
    # via django
structlog==26.1.0
    # via archivessnake
typing-extensions==4.16.0
    # via
    #   asgiref
    #   structlog
uritemplate==4.2.0
    # via -r requirements.in
urllib3==2.7.0
    # via requests
vcrpy==8.3.0
    # via -r requirements.in
wrapt==2.4.0
    # via vcrpy
